<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocalCIXcode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C427EA618A9CAC1006D8A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C427EC718A9CAC2006D8A8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C7F073C18A9D4D50089C191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
